.alert {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-danger {
    color: #a00;
    border-color: #a00;
  }
}