<p><a routerLink="/customer/new" class="btn btn-primary">Cadastrar novo usuario</a></p>

<p *ngIf="customers.length == 0">Nenhum cliente cadastrado! Adicione um usando o botão acima.</p>

<div class="table-responsive" *ngIf="customers.length">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><a href="javascript:void(0);" (click)="setOrder('id')">#</a></th>
        <th scope="col"><a href="javascript:void(0);" (click)="setOrder('name')">Nome</a></th>
        <th scope="col"><a href="javascript:void(0);" (click)="setOrder('email')">E-mail</a></th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <th scope="row">{{customer.id}}</th>
        <td class="truncate-str">{{customer.name}}</td>
        <td class="truncate-str">{{customer.email}}</td>
        <td><a routerLink="/customer/{{customer.id}}/edit" class="btn btn-info btn-sm">editar</a></td>
      </tr>
    </tbody>
  </table>
</div>
