<form>
  <div *ngIf="(name.invalid && (name.dirty || name.touched))" class="alert alert-danger">
    <p *ngIf="name.errors.required">
      Nome obrigatório.
    </p>
    <p *ngIf="name.errors.minlength">
      Nome precisa ter ao menos 2 caracteres.
    </p>
  </div>

  <div *ngIf="(email.invalid && (email.dirty || email.touched))" class="alert alert-danger">
    <p *ngIf="email.errors.required">
      E-mail obrigatório.
    </p>
    <p *ngIf="email.errors.minlength">
      E-mail precisa ter ao menos 6 caracteres.
    </p>
  </div>

  <div *ngIf="(password.invalid && (password.dirty || password.touched))" class="alert alert-danger">
    <p *ngIf="password.errors.required">
      Senha obrigatório.
    </p>
    <p *ngIf="password.errors.minlength">
      Senha precisa ter ao menos 6 caracteres.
    </p>
  </div>
  
  <div *ngIf="!phoneValidation" class="alert alert-danger">
    <p>
      Preencha ao menos um dos campos de telefone antes de prosseguir.
    </p>
  </div>

  <div class="form-row margin-bottom-sm">
    <div class="col-md-6">
      <input type="text" class="form-control" minlength="2" name="name" [ngClass]="{hasError: !nameValidation}" required placeholder="* Digite seu nome" [(ngModel)]="customer.name" #name="ngModel">
    </div>
    <div class="col-md-6">
      <input type="email" name="email" [ngClass]="{hasError: !emailValidation}" class="form-control" minlength="6" required placeholder="* exemplo@gmail.com" [(ngModel)]="customer.email" #email="ngModel">
    </div>
  </div>
  <div class="form-row margin-bottom-sm">
    <div class="col-md-6">
      <input type="text" class="form-control" name="phone" [textMask]="{mask: maskPhone}" placeholder="Seu telefone residencial" [(ngModel)]="customer.phone">
    </div>
    <div class="col-md-6">
      <input type="text" name="cel" [ngClass]="{hasError: !phoneValidation}" [textMask]="{mask: maskCel}" class="form-control" placeholder="Seu celular" [(ngModel)]="customer.cel">
    </div>
  </div>
  <div class="form-row margin-bottom-sm">
  	<div class="col-md-6">
  		<input type="password" name="password" [ngClass]="{hasError: !emailValidation}" class="form-control" minlength="6" required placeholder="* digite uma senha" [(ngModel)]="customer.password" #password="ngModel">
  	</div>
  	<div class="col-md-6">
  		<button class="btn btn-primary" (click)="onSubmit()">Salvar</button> <a routerLink="/customers" class="btn btn-link">cancelar</a>
  	</div>
  </div>
</form>